/* fonts */
@font-face {
  font-family: Vazir;
  src: url('./assets/fonts/vazir/Vazirmatn-Medium.ttf');
}
@font-face {
  font-family: VazirBold;
  src: url('./assets/fonts/vazir/Vazirmatn-Bold.ttf');
}
@font-face {
  font-family: VazirLight;
  src: url('./assets/fonts/vazir/Vazirmatn-Light.ttf');
}
/* end fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: VazirLight;
}

body {
  overflow: hidden;
}

/* some buttons in videojs plugin */
.vjs-current-time,
.vjs-playback-rate {
  display: block !important;
}
/* end some buttons in videojs plugin */

/* disable user selecting */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* end disable user selecting */
